@{
    ViewData["Title"] = "Manage Users";
}

@model CCT.Admin.UsersController.UserList


<h2>Welcome to the User Management Area, @Context.User.Identity.Name </h2>


<p>A table of users will go here and they will have to options to Edit or Delete, as well as Add a new User</p>


<table class="table table-striped">
    <tr>
        <td style="font-weight: bold">
            First Name
        </td>
        <td style="font-weight: bold">
            Last Name
        </td>
        <td style="font-weight: bold">
            Email
        </td>
        <td style="font-weight: bold">
            Actions
        </td>
    </tr>

    @foreach (var user in Model.userlist)
    {
        <tr>
            <td>
                @user.FirstName
            </td>
            <td>
                @user.LastName
            </td>
            <td>
                @user.Email
            </td>
            <td>
                <p style="display:inline">
                    <a asp-controller="Users" asp-area="Admin" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                    <p style="display:inline"> | </p>
                    <a asp-controller="Users" asp-area="Admin" asp-action="ViewUser" asp-route-id="@user.Id">View</a>
                    <p style="display:inline"> | </p>
                    <a asp-controller="Users" asp-area="Admin" asp-action="DeleteUser" asp-route-id="@user.Id" onclick="return confirm('This will delete all records of the user. \n Press OK to proceed.')">Delete</a>
                </p>
            </td>
        </tr>
    }
</table>
<a asp-area="Admin" asp-controller="Users" asp-action="CreateUser">
<input type="button" class="btn btn-primary" value="Create New User">
</a>
<br><br>
<button class="btn btn-secondary" onclick="window.history.go(-1)">Back</button>