@model CCT.User
@{
    ViewData["Title"] = "View User - " + Model.UserName;
}


<h4 style="padding: 5vh 0 5vh 0">Viewing user: @Html.DisplayFor(user => user.FirstName) @Html.DisplayFor(user => user.LastName)</h4>

@* Using DisplayFor instead of the normal Model.property because it is throwing an error.
This is the only working solution after 2 hours of googling. *@

<div>
    <table class="table">
        <tr>
            <th>First Name</th>
            <td>@Html.DisplayFor(user => user.FirstName)</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>@Html.DisplayFor(user => user.LastName)</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Html.DisplayFor(user => user.Email)</td>
        </tr>
        <tr>
            <th>Apartment Number</th>
            <td>@Html.DisplayFor(user => user.ApartmentNumber)</td>
        </tr>
    </table>
    <br>
    <a asp-area="Admin" asp-controller="Users" asp-action="Index">
    <button type="button" class="btn btn-secondary" style="color: rgb(51, 51, 51)">Back</button>
    </a>
</div>